django
django-guardian
django-q2
ffmpeg-python
webvtt-py
uvicorn[standard]
setuptools
honcho
jsonfield
django-invitations
schema
xmltodict
nh3
boto3

# OPTIONAL
django-debug-toolbar
django-extensions
django-browser-reload
