textarea[readonly], input[readonly] {
  background-color: #dddddd !important;
}

.nav-pills .nav-link.active a, .nav-pills .show>.nav-link a {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.nav-link a {
  text-decoration: none;
}
